<div class="Caja">
  <div class="Caja_Header">
    <table class="Caja_Header_Tabla">
      <tr>
        <td class="Caja_Header_Datos">
          <h1 class="Caja_Header_Tabla-Titulo"> {{nombre}} </h1>
          <tr>
            <p class="Caja_Header_Tabla-Info">
              <br>
              Misión de vida: <br> <br> {{misionVida}}
            </p>
          </tr>
        </td>

        <td>
          <img
            class="Caja_Informacion-Foto"
            src={{foto}}
            widht="100%"
            heigth="100%"
            alt=""
          />
        </td>

        <td>
          <section class="Caja_Informacion_Datos">
            <h3 class="Caja_Informacion_Datos-Titulo">Datos Personales</h3>

            <p class="Caja_Informacion_Datos-Subtitulo">Número de contacto:</p>
            <p class="Caja_Informacion_Datos-Info"> {{cel}} </p>

            <p class="Caja_Informacion_Datos-Subtitulo">Email de contacto:</p>
            <p class="Caja_Informacion_Datos-Info"> {{email}} </p>

            <p class="Caja_Informacion_Datos-Subtitulo">Lugar de residencia:</p>
            <p class="Caja_Informacion_Datos-Info"> {{ciudad}}, {{pais}} </p>
          </section>
        </td>

      </tr>
    </table>
  </div>
  <div class="Barra"></div>
</div>
